In [5]:
import pandas as pd
df = pd.read_csv("./data/weather.csv")

df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [7]:
df.head()

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain

In [8]:
df.tail()

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [9]:
df[2:4]

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow

In [10]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [11]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [12]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [15]:
df['temperature'].std()

3.8858718455450894

In [17]:
d = dict(df['temperature'].value_counts())
d

{32: 3, 24: 1, 28: 1, 35: 1}

In [18]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [19]:
df[df['temperature']>25]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [20]:
df[['day', 'event', 'temperature']][df.temperature == 32]

          day  event  temperature
0  01/01/2017   Rain           32
4  01/05/2017   Rain           32
5  01/06/2017  Sunny           32

In [21]:
df[['day', 'event', 'temperature']][df['event'] == 'Rain']

          day event  temperature
0  01/01/2017  Rain           32
4  01/05/2017  Rain           32